.filter_form_date {
    margin-left: 10px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.filter_form_head {
    padding-left: 5px;
    width: 60vw;
    border-radius: 5px;
    border: 1px solid black;
}

.filter_form_author {
    margin-left: 10px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.filter_form_category {
    padding-left: 5px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid black;
}