<!--  наследуемся от шаблона default.html-->
{% extends 'default.html' %}
{% load custom_filters %}
{% load static %}


{% block title %}
search news
{% endblock title %}

{% block scripts %}

<!--<script src="{% static 'https://code.jquery.com/jquery-3.3.1.min.js' %}"></script>-->
<!--<script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js' %}"></script>-->
{% endblock scripts %}

{% block content %}

    <h1>Поиск статей </h1>

    <hr>
    <form method="GET">
        {{ filter.form.as_p }} <!-- Форму от фильтров за нас сделает Django. -->
        <div class="d-flex justify-content-end mb-4">
        <input class="btn btn-primary text-uppercase" type="submit" value="Найти" > <!-- Без кнопки фильтр не работает. -->
        </div>
    </form>
    <hr>
    {% if search %} <!-- Если есть новости, то выводим их -->

        {% for search in filter.qs %}
        <!-- Post preview-->
            <div class="post-preview">
            <a href="{% url 'one_news' search.id %}">
                <h2 class="post-title">{{ search.headPost | censor }}</h2>
            </a>
                <h3 class="post-subtitle"> {{ search.textPost|truncatewords:20 | censor}}</h3>

               <p class="post-meta"> Опубликовано
                    <a href="{% url 'search' %}?author={{search.author.pk}}">
                        {{ search.author.userAuthor.username }}</a>
                    в {{ search.dateCreation | date:'d M Y h:m' }}

                     {% if user.is_authenticated and search.author.userAuthor_id == request.user.id %}
                        <a href="{% url 'post_update' search.id %}"><u> Редактировать </u></a>
                        <a href="{% url 'post_delete' search.id %}"><u> Удалить </u></a>
                    {% else %}
                    <!-- <a href="#!"><u> Подписаться на автора </u></a>--> <!-- добавим ссылку на рассылку-->
                    {% endif %}
                </p>
                <p class="post-meta">
                    Категория: {% for category in search.get_categories_post %}
                        <a href="{% url 'search' %}?categoriesPost={{category.pk}}">{{category}}</a>
                                {% if category.id not in cat_sub %}
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'subscribe' category.id %}"><u> Подписаться на {{category}}</u></a> <!-- добавим ссылку на рассылку {{ news.categoriesPost }}-->
                                     {% else %}
                                        <a href="{% url 'account_login' %}"><u> Подписаться на {{category}}</u></a>
                                    {% endif %}
                                {% endif %}

                    {% endfor %}

                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        {% endfor %}


    {% else %}
        <h2>Статьи не найдены!</h2>
    {% endif %}
{% endblock content %}
