<!--  наследуемся от шаблона default.html-->
{% extends 'default.html' %}
{% load custom_filters %}
{% load static %}


{% block title %}
search news
{% endblock title %}

{% block scripts %}

<script src="{% static 'https://code.jquery.com/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js' %}"></script>
{% endblock scripts %}

{% block content %}

    <h1>Поиск статей </h1>

    <hr>
    <form method="GET">
        {{ filter.form.as_p }} <!-- Форму от фильтров за нас сделает Django. -->
        <div class="d-flex justify-content-end mb-4">
        <input class="btn btn-primary text-uppercase" type="submit" value="Найти" > <!-- Без кнопки фильтр не работает. -->
        </div>
    </form>
    <hr>
    {% if search %} <!-- Если есть новости, то выводим их -->
        {% for search in filter.qs %}
        <!-- Post preview-->
            <div class="post-preview">
            <a href="{% url 'one_news' search.id %}">
                <h2 class="post-title">{{ search.headPost | censor }}</h2>
            </a>
                <h3 class="post-subtitle"> {{ search.textPost|truncatewords:20 | censor}}</h3>

              <p class="post-meta">
                  Posted by
                  <a href="#!"> {{ search.author.userAuthor.username }}</a>
                  on {{ search.dateCreation | date:'d M Y h:m' }}
              </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        {% endfor %}

        {% if paginator.count > 3 %}
             <!-- Pager-->
            <div class="pagers" style="display: flex;justify-content: space-between;">
                <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
                {% if page_obj.has_previous %}
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="?page=1">Первая страница</a></div>
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase"  href="?page={{ page_obj.previous_page_number }}"> < </a></div>
                {% endif %}
                <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase">{{ num }}</a></div>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                       <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="?page={{ num }}">{{ num }}</a></div>
                    {% endif %}
                {% endfor %}
            <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
                {% if page_obj.has_next %}
                  <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="?page={{ page_obj.next_page_number }}">    >    </a></div>
                  <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a></div>
                {% endif %}
            </div>
        {% endif %}

    {% else %}
        <h2>Статьи не найдены!</h2>
    {% endif %}
{% endblock content %}
